Makefile
Makefile.in
autom4te.cache/
config.h*
configure
man/
local/
.tox/
.libs/
.deps/
*.m4
*.la
*.lo
*.o
*.pyc
__pycache__
compile
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

